@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500;800&family=Noticia+Text:ital@1&display=swap');
:root {
  --header-margin-top: 0%;
  --nav-font: 'M PLUS 1p';
  --nav-font-size: 16.4px
}

.header {
  /* Header */
  position: absolute;
  width: 100%;
  height: 828px;
  left: -1px;
  top: 0%;
}

h2>.logo {
  /* Home */
  position: absolute;
  width: 28%;
  height: 8%;
  left: 10%;
  top: 10%;
  /* Text_Misc/Nav */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 1000;
  font-size: 26.4px;
  line-height: 30px;
  letter-spacing: 2px;
  /* Colors/White */
  color: #FCFCFC;
  text-decoration: none;
}

.nav {
  position: absolute;
  width: 60%;
  height: 8%;
  left: 30%;
  top: 8%;
  text-decoration: none;
}

.nav>li {
  list-style-type: none;
  display: inline;
}

.nav>li:nth-child(1) {
  position: absolute;
  width: 49px;
  height: 18px;
  left: 1%;
  top: var(--header-margin-top);
  /* Text_Misc/Nav */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: var(--nav-font-size);
  line-height: 30px;
  letter-spacing: 2px;
  /* Colors/White */
  color: #FCFCFC;
}

.nav>li:nth-child(2) {
  position: absolute;
  width: 79px;
  height: 30px;
  left: 15%;
  top: var(--header-margin-top);
  /* Text_Misc/Nav */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: var(--nav-font-size);
  line-height: 30px;
  /* identical to box height */
  letter-spacing: 2px;
  /* Colors/White */
  color: #FCFCFC;
  opacity: 0.8;
}

.nav>li:nth-child(3) {
  position: absolute;
  width: 55px;
  height: 30px;
  left: 30%;
  top: var(--header-margin-top);
  /* Text_Misc/Nav */
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: var(--nav-font-size);
  line-height: 30px;
  /* identical to box height */
  letter-spacing: 2px;
  /* Colors/White */
  color: #FCFCFC;
  opacity: 0.8;
}

.nav>li:nth-child(4) {
  /* Work */
  position: absolute;
  width: 47px;
  height: 30px;
  left: 43%;
  top: var(--header-margin-top);
  /* Text_Misc/Nav */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: var(--nav-font-size);
  line-height: 30px;
  /* identical to box height */
  letter-spacing: 2px;
  /* Colors/White */
  color: #FCFCFC;
  opacity: 0.8;
}

.nav>li:nth-child(5)>img {
  position: absolute;
  left: 60%;
  /* right: 34.1%; */
  top: var(--header-margin-top);
  bottom: 98.34%;
  /* Colors/White */
  background: #000000;
}

.nav>li:nth-child(6) {
  position: absolute;
  width: 226px;
  height: 31px;
  left: 65%;
  top: var(--header-margin-top);
  /* Text_Misc/Nav */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: var(--nav-font-size);
  line-height: 30px;
  letter-spacing: 2px;
  /* Colors/White */
  color: #FCFCFC;
}

.nav>li:nth-child(7)>img {
  /* Menu */
  position: absolute;
  /* width: 27px; */
  height: auto;
  left: 95%;
  top: 15%;
}

.bg-header {
  position: absolute;
  width: 100%;
  height: 828px;
  left: 0px;
  top: 0px;
}

.bg-header1 {
  position: absolute;
  width: 100%;
  height: 828px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
  mix-blend-mode: multiply;
}

.bg-header2 {
  position: absolute;
  width: 100%;
  height: 828px;
  left: 0px;
  top: 0px;
  /* Colors/Secondary_100 */
  background: #5E239D;
  mix-blend-mode: multiply;
}

.header-bg-img {
  /* Rectangle */
  position: absolute;
  width: 100%;
  height: 828px;
  left: 0px;
  top: 0px;
  background: url('../../images/Rectangle.png');
  /* background-size: cover; */
}

.scroll-div {
  /* Scroll */
  position: absolute;
  width: 20%;
  height: 343px;
  left: 60%;
  top: 25%;
}

.scroll-text {
  /* Scroll to see more */
  position: absolute;
  width: 100%;
  right: -155%;
  top: 1%;
  /* Title/Small */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 100%;
  letter-spacing: 6px;
  text-transform: uppercase;
  /* Colors/White */
  color: #FCFCFC;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.scroll-img>img {
  /* Icon */
  position: absolute;
  /* height: 100%; */
  right: -57%;
  top: 90%;
}

.headline {
  /* Headline */
  position: absolute;
  width: 60%;
  height: 372px;
  left: 10%;
  top: 27%;
  color: #FCFCFC;
}

.headline-intro {
  /* What we do? */
  position: absolute;
  width: 100%;
  height: 28px;
  left: 0%;
  top: 3%;
  /* Title/Medium */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: var(--nav-font-size);
  line-height: 30px;
  word-spacing: 20px;
  text-transform: uppercase;
  /* Colors/White */
  color: #FCFCFC;
}

.headline-content {
  /* We grow great business */
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0%;
  top: 7%;
  /* Headers/H1 */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px;
  color: #FCFCFC;
}

.headline-content2 {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0%;
  top: 40%;
  /* Headers/H1 */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px;
  color: #F61067;
}

.subheader {
  /* Subheader */
  position: absolute;
  width: 833px;
  height: 108px;
  left: 0%;
  top: 75%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
}

.subheader-icon>img {
  /* Arrow */
  position: absolute;
  width: 48px;
  height: 48px;
  left: 745px;
  top: 25%;
  /* color: #FCFCFC; */
  /* color: #000000; */
}

.subheader-text {
  /* Velit laoreet id donec ultrices. Ut lectus arcu bibendum varius. */
  position: absolute;
  width: 555px;
  height: 37px;
  left: 147px;
  top: 10%;
  /* Text/Regular */
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  /* Colors/White */
  color: #FCFCFC;
}

/* INTRO SECTION ----------- */

.intro {
  /* INTRO Header */
  position: absolute;
  width: 100%;
  height: 828px;
  /* left: 50%px; */
  top: 828px;
}

.intro-left {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  top: 0%;
}

.intro-left>.intro-head {
  /* Intro */
  position: absolute;
  width: 50%;
  height: 28px;
  left: 20%;
  top: 22%;
  /* Title/Small */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  /* Colors/Primary */
  color: #F61067;
}

.intro-left>h1 {
  /* Our future */
  position: absolute;
  width: 100%;
  height: 72px;
  left: 20%;
  top: 26%;
  /* Headers/H3 */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  /* TextColors/Headers */
  color: #30233D;
}

.intro-left>h5 {
  /* border: 2px solid yellow; */
  /* Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. */
  position: absolute;
  width: 60%;
  height: 89px;
  left: 20%;
  top: 36%;
  /* Text/Regular_Bold */
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  /* TextColors/Headers */
  color: #30233D;
}

.intro-left>.intro-foot {
  /* border: 2px solid blue; */
  /* By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. */
  position: absolute;
  width: 60%;
  height: 144px;
  left: 20%;
  top: 55%;
  /* Text/Regular */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  /* TextColors/Maintext */
  color: #776C82;
}

.intro-left>.intro-btn {
  /* Button */
  position: absolute;
  width: 25%;
  height: 45px;
  left: 20%;
  top: 80%;
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #F61067;
  border-radius: 36px;
  color: #FCFCFC;
}

.intro-right {
  /* Quote */
  /* border: 2px solid black; */
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0%;
}

.intro-right>.intro-bg {
  /* Bg */
  position: absolute;
  width: 60%;
  height: 70%;
  right: 0%;
  top: 15%;
  /* Colors/Secondary_300 */
  background: #30124E;
  mix-blend-mode: normal;
}

.intro-right>.intro-img {
  /* Photo */
  position: absolute;
  width: 60%;
  height: 738px;
  right: 40%;
  top: 20%;
  background: url('../../images/Photo.png');
}

.intro-right>.intro-quote {
  position: absolute;
  width: 50%;
  height: 70%;
  right: 0%;
  top: 15%;
  /* Colors/Secondary_300 */
  background: #30124E;
  mix-blend-mode: normal;
  color: #FCFCFC;
  font-family: Noticia Text;
  font-style: italic;
  font-weight: normal;
  font-size: 22.5px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.intro-quote>blockquote {
  position: absolute;
  width: 55%;
  height: 70%;
  right: 0%;
  top: 10%;
  width: 60%;
  /* border: 3px solid yellow; */
  font-family: Noticia Text;
  font-style: italic;
  font-weight: normal;
  font-size: 22.5px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.intro-right>.intro-quote>.q-up {
  /* ” */
  position: absolute;
  height: 10%;
  left: 40%;
  top: 0%;
  width: 40%;
  /* border: 3px solid yellow; */
  font-family: Noticia Text;
  font-style: italic;
  font-weight: bold;
  font-size: 144px;
  line-height: 10%;
  /* Colors/LightGrey */
  color: #F4F4ED;
  opacity: 0.25;
}

.intro-right>.intro-quote>.q-down {
  /* ” */
  position: absolute;
  height: 10%;
  left: 40%;
  top: 60%;
  width: 40%;
  font-family: Noticia Text;
  font-style: italic;
  font-weight: bold;
  font-size: 144px;
  line-height: 10%;
  /* Colors/LightGrey */
  color: #F4F4ED;
  opacity: 0.25;
}

.features-main {
  position: absolute;
  width: 90%;
  height: 1008px;
  left: 0px;
  top: 1638px;
  /* border: 3px solid black; */
  z-index: -1;
}

.features-left {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0px;
  top: 0%;
  /* Colors/Secondary_300 */
  background: #30124E;
  mix-blend-mode: normal;
}

.features-bg {
  /* Bg */
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0px;
  top: 0%;
  /* Colors/Secondary_300 */
  background: #30124E;
  mix-blend-mode: normal;
}

.features-bg-img {
  /* Bg */
  position: absolute;
  width: 75%;
  height: 1008px;
  left: 0px;
  top: 0%;
  background: url('../../images/Bg.png');
  mix-blend-mode: multiply;
}

.features-left>.features-head {
  /* Benefits */
  position: absolute;
  width: 304px;
  height: 24px;
  left: 15%;
  top: 15%;
  /* Title/Small */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  /* Colors/Primary */
  color: #F61067;
}

.features-left>.features-content-head {
  /* Shaping the future */
  position: absolute;
  width: 415px;
  height: 30%;
  left: 15%;
  top: 15%;
  /* Headers/H3 */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  /* identical to box height */
  /* Colors/White */
  color: #FCFCFC;
}

.features-left>.features-content-main {
  /* Eget nunc scelerisque viverra mauris in aliquam. Dignissim sodales ut eu sem integer vitae. Libero nunc consequat interdum varius. */
  position: absolute;
  width: 46%;
  height: 97px;
  left: 15%;
  top: 25%;
  /* Text/Regular_Bold */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  /* Colors/White */
  color: #FCFCFC;
}

.features-content-submain {
  /* Magna sit amet purus gravida. Sit amet porttitor eget dolor morbi non. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Dui faucibus in ornare quam viverra. Posuere ac ut consequat semper viverra. */
  position: absolute;
  width: 50%;
  height: 295px;
  left: 15%;
  top: 39%;
  /* Text/Regular */
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 49px;
  /* Colors/White */
  color: #FCFCFC;
}

.features-left>.ft-btn {
  /* Rectangle 2.1 */
  position: absolute;
  width: 197px;
  height: 45px;
  left: 15%;
  top: 75%;
  font-family: var(--nav-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Colors/White */
  color: #FCFCFC;
  /* Colors/Primary */
  background: #F61067;
  border-radius: 36px;
}

.features-right {
  /* Photo */
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0%;
}

.features-right>img {
  /* Photo */
  position: absolute;
  width: 70%;
  height: 60%;
  right: 20%;
  top: 20%;
}

.features-right>img {
  /* Photo */
  position: absolute;
  width: 70%;
  height: 60%;
  right: 20%;
  top: 20%;
}

.features-right>.features-rt-text {
  /* Mobile Apps */
  position: absolute;
  width: 612px;
  height: 68px;
  right: -30%;
  top: 65%;
  /* Title/Small */
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  /* Colors/Secondary_100 */
  color: #5E239D;
  transform: rotate(90deg);
}


